<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>QnA Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles2.css">
  </head>

  <body>

      <h1><%= fullName%></h1>
      <h3><%= level %></h3>

  </body>

  </html>
